<nav>
    <div class="site-title">
        <a href="/">
            <h1>BLOG</h1>
        </a>
    </div>
    <h1>A Blogging Site</h1>

    <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>
<hr />